$color-1: #051367;
$color-2: #00C897;
$color-3: #019267;
$color-4: #FF1818;
$color-5: #F5F5F5;
$color-5: #fe7f02;





$color-28: #282141;
$color-11: #118AC7;
$color-f5: #F5F5F5;
$color-fa: #FAFAFA;
$color-ff: #FF5050;
$color-ec: #EC8C1C;

$g-purple: linear-gradient(90deg, #A45CF6 0%, #3C58BF 100%);
$g-purple-light: linear-gradient(180.47deg, #6058CE -47.35%, #9D5CF1 99.59%);
$g-purple-extra-light: linear-gradient(180.47deg, #2A3789 -47.35%, #B0B9F5 99.59%);
$g-blue: linear-gradient(180.47deg, #127AAF -47.35%, #3D9DEF 99.59%);
$g-blue-light: linear-gradient(90deg, #2DBBF2 0%, #118AC7 100%);
$g-green: linear-gradient(90deg, #22DDB0 0%, #0CC0CC 100%);
$g-green-light: linear-gradient(180.48deg, #34D7D0 -43.66%, #54C8EF 99.58%);
$g-red: linear-gradient(90deg, #FF6D67 0%, #E94044 100%);
$g-yellow: linear-gradient(90deg, #F4CD4D 0%, #EC8C1C 100%);
$g-yellow-light: linear-gradient(180.47deg, #FAD75C -47.35%, #E38337 99.59%);